.brandnaming {
  display: flex;
  position: relative;
  bottom: 9vw;
}

.brandnaming-description {
  flex-basis: 75%;
  background-color: #191921;
  color: white;
  height: 31rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3vw;
}

.brandnaming-description h1 {
  font-size: clamp(2.5rem, 5vw, 4.5rem);
}

.brand-image img {
  width: 100%;
  min-width: 25rem;
  height: 100%;
}

.arrow-container {
  display: flex;
}

.arrow-container img {
  margin-right: 1vw;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .brandnaming {
    bottom: unset;
    flex-direction: column-reverse;
  }

  .brand-image img {
    min-width: unset;
    width: 100%;
    height: 100%;
  }

  .brandnaming-description h1 {
    font-size: clamp(2rem, 5vw, 2.6rem);
    width: clamp(17rem, 44vw, 21rem);
  }

  .brandnaming-description {
    flex-basis: unset;
    height:unset;
    padding: 7vw 5vw;

  }
}
