.keypoint {
  display: flex;
  align-items: center;
}

.keypoint-header h1 {
  font-size: clamp(2rem, 5vw, 3.8rem);
  width: 120%;
  position: relative;
  z-index: 1;
  left: 3vw;
}

.keypoint-content {
  flex-basis: 100%;
  background-color: #f94f4f;
  padding: 15vw 4vw 8vw 17vw;
  position: relative;
  color: white;
  bottom: clamp(4rem, 9vw, 10rem);
}

@media all and (max-width: 768px) {
  .keypoint {
    flex-direction: column;
    background-color: #f94f4f;
    padding: 5vw;
    margin: unset;
  }

  .keypoint-header {
    width: auto;
  }

  .keypoint-header h1 {
    width: clamp(14rem, 42vw, 20rem);
    left: unset;
    font-size: clamp(1.5rem, 5vw, 3rem);
    color: white;
  }

  .keypoint-content {
    bottom: unset;
    width: auto;
    padding: 8vw 16vw;
    flex-basis: unset;
  }
}
