.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-link a {
  margin: 0 2vw;
  text-decoration: none;
  color: white;
  font-size: clamp(1rem, 1.4vw, 2rem);
}

.navbar-link button {
  height: 4vw;
  width: 12.5vw;
  min-height: 3rem;
  min-width: 9rem;
  font-weight: 800;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  font-size: clamp(1rem, 1.2vw, 2rem);
}

.navbar-link {
  padding: 5vw 0;
  background-color: #f94f4f;
  flex-basis: 70%;
}

.navbar-img {
  flex-basis: 40%;
  margin-left: 7vw;
  padding: 5vw 0;
}

.navbar-img img {
  width: 13vw;
  height: 2.5vw;
  min-width: 9rem;
  min-height: 1.6rem;
}

/* for hamburger icon */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* for hamburger icon */

@media all and (max-width: 768px) {
  .navbar {
    position: relative;
  }

  .hamburger {
    margin-right: 7vw;
  }

  .mobile-navbar-link {
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 80vw;
    text-align: center;
    z-index: 2;
  }

  .mobile-navbar-link a {
    text-decoration: none;
    color: black;
    margin: 4vw 0;
    font-size: clamp(0.8rem, 3vw, 1.5rem);
  }

  .mobile-navbar-link button {
    margin-bottom: 3vw;
    width: 21vw;
    min-width: 7rem;
    height: 6vw;
    min-height: 2rem;
    font-size: clamp(0.7rem, 2.2vw, 1.5rem);
    cursor: pointer;
  }
}
