.strategic {
  display: flex;
  align-items: center;
}

.strategic-image-container {
  flex-basis: 160%;
}

.strategic img {
  width: 100%;
  height: clamp(50rem, 82vw, 73.5rem);
}

.strategic-description {
  background-color: #191921;
  color: white;
  padding: 0 4vw;
  height: clamp(50rem, 82vw, 73.5rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.strategic-description h1 {
  font-size: clamp(4rem, 6vw, 6rem);
}

.strategic-description p {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  width: 90%;
}

.strategic-description a {
  font-size: clamp(1.2rem, 4vw, 1.3rem);
  padding-bottom: 1vw;
  cursor: pointer;
  text-decoration: none;
  color: #f94f4f;
  border-bottom: 3px solid #f94f4f;
  font-weight: 900;
}

@media all and (max-width: 768px) {
  .strategic {
    flex-direction: column;
  }
  .strategic-description h1 {
    margin-bottom: 0;
    font-size: clamp(2rem, 7vw, 3rem);
  }

  .strategic-image-container {
    flex-basis: unset;
  }

  .strategic img {
    width: 100vw;
    height: 100%;
    min-width: unset;
  }
  .strategic-description {
    margin: 0;
    padding: 0 0 10vw 10vw;
    display: unset;
    height: unset;
  }

  .strategic-description p {
    font-size: clamp(1rem, 3vw, 1.3rem);
    width: 80%;
    line-height: 1.5;
  }

  .strategic-description a {
    font-size: clamp(1.1rem, 4vw, 1.3rem);
  }
}

@media all and (max-width: 320px) {
  .strategic img {
    width: 100%;
  }
}
